body{
    margin:0;
    font-family:sans-serif;
}

.image{
    width:100%;
    background:url('https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGFuZCUyMHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    height:100vh;
    background-size:200%;
    background-attachment:fixed;
    background-position:center;
    
}

.container{
    padding:100px;
}


@media (max-width:500px){
    .container{
        padding:10px;
    }
}

h1{
    text-align:center;
}
p{
    color:grey;
}